@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Rowdies', cursive;
}
.wrapper{
    width: 1400px;
    margin: auto;
}
body{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("BackGround.jpg");
    height: 100px;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.logo img{
    width: 100px;
    float: left ;
    padding-left: 0%;
    padding-top: 1%;
}
.Heading p{
    font-size: 300px;
    color: white;
    text-align: center;
    margin-top: 10px
}
.navigation{
    float: right;
    list-style: none;
    margin-top: 5px;
    padding-right: 10px;
}
.navigation li{
    display: inline-block;
}
.navigation li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
}
.navigation li a:hover{
    background: rgb(223, 113, 50);
    color: rgb(246, 246, 246);
    font-size: 20px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
.row h1{
    color:#fff;
    text-align: center;
}
.column {
    margin-top: 100px;
    margin-left: 50px;
    float: left;
    width: 25%;
    padding: 5px;
  }
.column img{
    border: 3px solid #ddd;
    border-radius: 4px;
    height: 400px;
    width: 250px;
}
.column p{
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
}
.column h1{
    font-size: 30px;
    color: rgb(226, 125, 58);
    margin-bottom: 10px;
}
.column a{
    border: 1px solid #fff;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    display: flow-root;
    color: #fff;
}
.column a:hover{
    background: rgb(226, 125, 58);
    color: rgb(248, 244, 244);
    font-size: 20px;
}


/*.row1 ::after {
    content: "";
    clear: both;
    display: table;
  }
.column1 h1{
    font-size: 25px;
    color: rgb(226, 125, 58);
    margin-bottom: 10px;
}
.column1 {
    margin-top: 50px;
    margin-left: 100px;
    float: left;
    width: 25%;
    padding: 5px;
  }
.column1 img{
    border: 3px solid #ddd;
    border-radius: 4px;
    height: 400px;
    width: 250px;
}
.column1 p{
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
}
.column1 a{
    border: 1px solid #fff;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    display: flow-root;
    color: #fff;
}
.column1 a:hover{
    background: rgb(226, 125, 58);
    color: rgb(248, 244, 244);
    font-size: 20px;
}*/
